# назначение обработчиком .html страниц:
Action parsed-html /cgi-bin/parser3.cgi
AddHandler parsed-html .html
SetEnv POSTGRES_USER ${POSTGRES_USER}
SetEnv POSTGRES_PASSWORD ${POSTGRES_PASSWORD}
# запрет на доступ к .cfg и .p файлам:
<Files ~ "\.(p|cfg)$">
    Order allow,deny
    Deny from all
</Files>